<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 引入静态资源，使用 Flask 的 url_for 函数生成静态文件路径 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='todo/css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='todo/css/bootstrap.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TodoApp</title>
</head>
<body>

{% include 'navbar.html' %}

{% block content %}
{% endblock %}

<!-- 引入必要的 JavaScript 文件 -->
<script src="{{ url_for('static', path='/todo/js/jquery-slim.js') }}"></script>
<script src="{{ url_for('static', path='/todo/js/popper.js') }}"></script>
<script src="{{ url_for('static', path='/todo/js/bootstrap.js') }}"></script>

</body>
</html>
